* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Heebo", sans-serif;
	color: rgb(31, 31, 34);
}

.container {
	width: 100%;
	height: 100vh;
	background: rgb(217, 156, 253);
}

#letter-container {
	width: 100%;
	height: 100%;
}

#new-letter {
	width: 100%;
	height: 100%;
	cursor: pointer;
	padding-top: 65px;
	font-size: 22em;
	text-align: center;
}
